<section id="feature" class="section-p1">
	<div class="fe-box">
		<img src="../../../assets/images/features/f1.png" alt="">
		<h6>Free Shipping</h6>	
	</div>
	<div class="fe-box">
		<img src="../../../assets/images/features/f2.png" alt="">
		<h6>Online Order</h6>	
	</div>
	
	<div class="fe-box">
		<img src="../../../assets/images/features/f4.png" alt="">
		<h6>Prommotions</h6>	
	</div>
	<div class="fe-box">
		<img src="../../../assets/images/features/f5.png" alt="">
		<h6>Happy Sell</h6>	
	</div>
	<div class="fe-box">
		<img src="../../../assets/images/features/f6.png" alt="">
		<h6>F24/7 Support</h6>	
	</div>
	</section>

    <!-- Product Card -->
    <div class="products">
        <h1>Products</h1>
    </div>
<div class="row my-4">
  <div class="container my-4" style="background-image: url(../../../assets/images/sample/a.jpg);">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Nike Air</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$999</p>
        <p class="new">$650</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>ADD TO CART</span>
    </div>
  </div>
  </div>   
    <div class="container my-4" style="background-image: url(../../../assets/images/sample/aa.jpg);">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Pink Jogger</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="old">$899</p>
            <p class="new">$545</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>ADD TO CART</span>
        </div>
      </div>
      </div>   
<div class="container my-4" style="background-image: url(../../../assets/images/sample/aaaa.jpg);">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Child Sandal</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$499</p>
        <p class="new">$245</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>ADD TO CART</span>
    </div>
  </div>
  </div>
<div class="container my-4" style="background-image: url(../../../assets/images/sample/aaa.jpg);">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Child Jogger</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$499</p>
        <p class="new">$215</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>ADD TO CART</span>
    </div>
  </div>
  </div>
</div>
<!-- second row -->


<div class="row my-4">
  <div class="container my-4" style="background-image: url(../../../assets/images/sample/ss\ \(1\).jpg);">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Nike Air</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$899</p>
        <p class="new">$699</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>ADD TO CART</span>
    </div>
  </div>
  </div>   
  <div class="container my-4" style="background-image: url(../../../assets/images/sample/ss\ \(2\).jpg);">
    <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Adidas Jogger</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="old">$699</p>
            <p class="new">$345</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>ADD TO CART</span>
        </div>
      </div>
      </div>   
      <div class="container my-4" style="background-image: url(../../../assets/images/sample/ss\ \(3\).jpg);">
        <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Flower Embroidery Hoop Art</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$699</p>
        <p class="new">$345</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>ADD TO CART</span>
    </div>
  </div>
  </div>
  <div class="container my-4" style="background-image: url(../../../assets/images/sample/ss\ \(4\).jpg);">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Flower Embroidery Hoop Art</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$699</p>
        <p class="new">$345</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>ADD TO CART</span>
    </div>
  </div>
  </div>
</div>